html {
    width: 80%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FCF5E5;
    color: #000000;
    transition: background-color 1s ease-in,
                color 1s ease-in-out;
}

#mepic {
    border-radius: 25%;
    display: block;
    margin: auto;
    border: 2px solid;
    width: 95%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    width: 70%;
    margin: auto;
    font-size: medium;
    border-radius: 25px;
    border-color: black;
    border: 2px solid;
    padding: 10px;
}

/* .movie {
    display: inline-block;
    width: 20%;
    padding: 5px;
    margin: auto;
    vertical-align: top;
}

.movie > img {
    object-fit: contain;
    max-width: 100%;
} */

.movielist li span {
    position: absolute;
    display: none;
    z-index: 99;
}

.movielist li:hover span {
    display: block;
} 

#sitetext {
    text-align: center;
}

#flowers pre {
    display: inline-block;
    text-align: left;
}

